/* Fonts */

@font-face {
    font-family: "RalewayLight";
    src: url("../../public/fonts/Raleway/Raleway-Light.ttf") format("truetype");
}

@font-face {
    font-family: "RalewayBold";
    src: url("../../public/fonts/Raleway/Raleway-Bold.ttf") format("truetype")
}

/* Reset */

* {
    margin: 0;
    padding: 0;
}

/* Classe menu de naviguation */

nav {
    width: 100%;
    height: 145px;
    font-family: "RalewayLight";
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: rgb(23, 97, 29);
}

.link {
    position: relative;
    top: -10px;
}

.naviguation--list {
    margin-top: 70px;
    justify-content: space-evenly;
}

.naviguation--block {
    justify-content: space-evenly;
    width: 45%;
}

.naviguation--link {
    list-style-type: none;
}

.link:hover {
    color: #66BD5D;
}

.logo {
    width: 175px;
    padding-top: 37px;
    padding-left: 25px;
}

.logo:hover {
    transform: rotate3d(1, 2.0, 3.0, -15deg);
    transition-duration: 1.5s;
}

.searchfield {
    width: 275px;
    height: 30px;
    padding-left: 5px;
    border-radius: 3px 24px 24px 3px;
    font-family: 'RalewayLight';
    border: 1px solid #66BD5D;
}

.searchfield:focus {
    box-shadow: 0 0 3pt 2pt #66BD5D;
    outline: none;
}

.searchlogo {
    position: absolute;
    width: 32px;
    left: 250px;
}

.form--searchfield {
    position: relative;
    top: 25px;
    left: 33%;
}

.navicon {
    width: 35px;
}

.navtext {
    margin-top: 6px;
    margin-left: 7px;
}

.profil--block {
    margin-left: 300px;
    position: relative;
    cursor: pointer;
}

.profil--icon {
    width: 75px;
    margin-top: 20px;
}

.profil--text {
    margin-top: 5px;
    margin-left: -10px;
    color: white;
}

.panier--block {
    position: relative;
    cursor: pointer;
    margin-left: 150px;
}

.panier--icon {
    width: 75px;
    margin-top: 20px;
}

.panier--text {
    margin-top: 5px;
    margin-left: -3px;
    color: white;
}

.connect--tuile {
    z-index: 999;
    display: none;
    position: absolute;
    background-color: rgb(23, 97, 29);
    width: 250px;
    height: 400px;
    top: 164px;
    left: 1262px;
    border: 2px solid rgb(23, 97, 29);
    border-radius: 15px;
    box-shadow: 9px 10px 49px -9px rgba(23,97,29,1);
}
.connect--tuile > h2 {
    width: max-content;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.field--blockMail {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.field--blockMdp {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.connect--field {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 25px;
    border-radius: 25px;
    border: 1px solid #66BD5D;
    font-family: 'RalewayBold';
}

.connect--field:focus {
    box-shadow: 0 0 3pt 2pt #66BD5D;
    outline: none;
}

.connect:focus {
    box-shadow: 0 0 3pt 2pt #66BD5D;
    outline: none;
}

.icon--Mail {
    position: absolute;
    width: 25px;
    left: 40px;
    top: 99px;
}

.icon--Mdp {
    position: absolute;
    width: 25px;
    left: 40px;
    top: 160px;
}
.arrow-up {
    width: 0;
    height: 0;
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;
    border-bottom: 20px solid rgb(23, 97, 29);
    margin-top: -21px;
    margin-left: 105px;
}

.separate {
    width: 75%;
    height: 1px;
    background-color: #E9ECEF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.rememberme--checkbox {
    margin-top: 15px;
    margin-left: 41px;
    margin-right: 10px;
}
.rememberme--label {
    color: white;
    margin-left: 5px;
    font-family: 'RalewayLight';
}

.connect {
    width: 125px;
    height: 30px;
    font-family: 'RalewayBold';
    color: white;
    background-color: rgb(23, 97, 29);
    border: 1.5px solid white;
    border-radius: 20px;
    font-size: 1.2em;
    margin-left: 65px;
    margin-top: 20px;
}
.newaccount {
    color: white;
    text-decoration: none;
    font-family: 'RalewayBold';
    margin-left: 48px;
}
.newaccount:hover {
    color: #66BD5D;
}
.reinitmdp {
    color: white;
    text-decoration: none;
    font-family: 'RalewayBold';
    margin-left: 8px;
}
.reinitmdp:hover {
    color: #66BD5D;
}
.connect:hover {
    color: #66BD5D;
    border: 1.5px solid #66BD5D;
}

/* Page Accueil */
.accueil--title {
    text-align: center;
    color: #66BD5D;
    font-family: 'RalewayBold';
    padding-top: 50px;
}
.accueil--block {
    position: relative;
    width: 800px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    border: 5px solid rgb(23, 97, 29);
    border-radius: 50px;
    background-color: rgba(226, 216, 216, 0.75);
    box-shadow: -1px 2px 98px -12px rgba(0,0,0,0.75);
}
.bandeau {
    width: 800px;
    height: 100px;
    border-radius: 44px;
}
.filter {
    filter: opacity(0.8) brightness(29%);
}
.accueil--text {
    font-family: 'RalewayBold';
    font-size: 1.2em;
    padding: 5px;
    color: white;
    position: absolute;
    width: 80%;
    margin-left: 120px;
    margin-top: 10px;
}
.accueil--text2 {
    font-family: 'RalewayBold';
    font-size: 1.2em;
    padding: 5px;
    color: white;
    position: absolute;
    width: 80%;
    margin-left: 30px;
    margin-top: 10px;
}
.accueil--img1 {
    margin-left: 20px;
    position: absolute;
}
.accueil--img2 {
    width: 80px;
    position: absolute;
    left: 675px;
    top: 10px;
}
.accueil--img3 {
    width: 80px;
    left: 20px;
    top: 9px;
    position: absolute;
}
.accueil--link {
    text-decoration: none;
    margin-top: 5px;
    font-family: 'RalewayBold';
    color: #66BD5D;
}
.accueil--link:hover {
    color: rgb(23, 97, 29);
}
.accueil--background {
    margin: 0;
    height: 794px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../public/img/paysage.jpg");
}


/* Classe générique */
.link {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

.flex {
    display: flex;
}

.ml-25 {
    margin-left: 200px;
}

.name {
    background: linear-gradient(to right, blue, white, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2em;
    margin-top: -8px;
    font-family: "RalewayBold";
}
.tdn {
    text-decoration: none;
    color: black;
}